{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}Cadastro de Centro de Custos{% endblock %}

{% block main %}

<br> 
<div style='margin-left: 120px;'>
     <form action="" method="GET">
        {% csrf_token %}
         <button type="submit" value="menu" name="botao">-- Novo --</button>
     </form>
</div>     
<center>
    <TAble border="1">
        <TR>
            <TD style="background-color: lightblue" >CENTRO</TD>
            <TD style="background-color: lightblue; text-align: center">NOME</TD>
            <td style="background-color: lightblue; text-align: center"> AÇÃO </A></td>
        </TR>
    {% for centro in custo %}
        <TR>    
        <TD style="width:100px"> <a href="{% url 'url_man_custo' centro.centro %}"><font size=2>{{centro.centro}}</font></a></TD>
    
        <TD style="width:300px"><center> <font size=2>{{ centro.nome  }} </font></center></TD>  
        <TD style="width:100px"> <a href="{% url 'url_excluicentro' centro.centro %}"><img src="{% static "apaga.jpg"  %}" alt="Excluir"/></a> </TD>
        
        </TR>                 
    {% endfor %}
    </TABLE>
</center>

{% endblock %}